# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codi]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
pytext_venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Backups
*~

# Coverage Files
.coverage

# Generated Document Sources
pytext/docs/source/configs/*
pytext/docs/source/modules/*
