click
fairseq
future
hypothesis<4.0
joblib
numpy
onnx==1.5.0
# pytorch-pretrained-bert requires python-dateutil < 2.8.1
python-dateutil==2.8.0
pandas
pytorch-pretrained-bert
requests
scipy
torchtext
tensorboard==1.14
torch
sentencepiece
