click
fairseq
future
fvcore
hypothesis<4.0
joblib
numpy
onnx>=1.6.0
# pytorch-pretrained-bert requires python-dateutil < 2.8.1
python-dateutil==2.8.0
pandas
pytorch-pretrained-bert
pytorch-dp
regex==2019.11.1
requests
scipy
sentencepiece
tensorboard==1.14
torch==1.5.0
torchtext
