_run:
  install_system_deps: &install_system_deps
    name: install_system_deps
    command: |
      sudo apt-get update
      sudo apt-get install -y cmake python-pip python-dev build-essential protobuf-compiler libprotoc-dev
  install_test_deps: &install_test_deps
    name: install_test_deps
    command: |
      sudo ./install_deps
      sudo pip install --progress-bar off pytest pytest-cov

      # sacrebleu installs typing-3.7.4 which is incompatible with pip from python-3.7.7
      if [ "${CIRCLE_JOB}" == "build_Py3.7" ]; then
        sudo pip uninstall -y typing
      fi
      sudo pip uninstall -y onnx
      # Instal onnx pip from source
      MAX_JOBS=4 pip install git+https://github.com/onnx/onnx

_do_tests: &do_tests
  - checkout
  - run: *install_system_deps
  - run: *install_test_deps
  - run:
      name: run tests and gather coverag
      command: pytest --junitxml=test-reports/junit.xml --cov=pytext --cov-report=html:htmlcov
  - store_test_results:
      path: test-reports
  - store_artifacts:
      path: test-reports
  - store_artifacts:
      path: htmlcov
      destination: coverage


version: 2
jobs:
  build_Py3.6:
    docker:
      - image: circleci/python:3.6
    steps: *do_tests

  build_Py3.7:
    docker:
      - image: circleci/python:3.7
    steps: *do_tests

  build_docs:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: *install_system_deps
      - run:
          name: install docs build deps
          command: |
            sudo pip install --upgrade pip
            sudo pip install -r docs_requirements.txt
            sudo pip install -r pytext/docs/requirements.txt
      - run:
          name: build docs
          command: |
              cd pytext/docs/
              make html
      - store_artifacts:
          path: pytext/docs/build/html
          destination: docs

  python_lint:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: *install_system_deps
      - run:
          name: setup lint
          command: |
              sudo pip install black isort==4.3.21
      - run:
          name: run black
          command: black pytext --check --diff
      - run:
          name: run isort
          command: |
              isort pytext --recursive --multi-line 3 --trailing-comma --force-grid-wrap 0 \
                  --line-width 88 --lines-after-imports 2 --combine-as --section-default THIRDPARTY --check-only
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_Py3.6
      - build_Py3.7
      - python_lint
      - build_docs
