version: 2
jobs:
  build_Py3.6:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: setup
          command: source .circleci/setup_circleimg.sh
      - run:
          name: install_pytorch
          command: sudo pip install --progress-bar off http://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl
      - run:
          name: run tests and gather coverage
          command: pytest --junitxml=test-reports/junit.xml --cov=pytext --cov-report=html:htmlcov
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - store_artifacts:
          path: htmlcov
          destination: coverage
  build_Py3.7:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: setup
          command: source .circleci/setup_circleimg.sh
      - run:
          name: install_pytorch
          command: sudo pip install --progress-bar off http://download.pytorch.org/whl/cpu/torch-1.0.0-cp37-cp37m-linux_x86_64.whl
      - run:
          name: run tests and gather coverage
          command: pytest --junitxml=test-reports/junit.xml --cov=pytext --cov-report=html:htmlcov
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - store_artifacts:
          path: htmlcov
          destination: coverage
  build_docs:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: setup
          command: source .circleci/setup_circleimg.sh
      - run:
          name: install_pytorch
          command: sudo pip install --progress-bar off http://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl
      - run:
          name: install docs build deps
          command: sudo pip install -r pytext/docs/requirements.txt
      - run:
          name: build docs
          command: |
              cd pytext/docs/
              make html
      - store_artifacts:
          path: build/html
          destination: docs
  python_lint:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: setup
          command: |
              source .circleci/setup_circleimg.sh
              sudo pip install black isort
      - run:
          name: run black
          command: black pytext --check
      - run:
          name: run isort
          command: |
              isort pytext --recursive --multi-line 3 --trailing-comma --force-grid-wrap 0 \
                  --line-width 88 --lines-after-imports 2 --combine-as --section-default THIRDPARTY --check-only
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_Py3.6
      - build_Py3.7
      - python_lint